<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">  
<head>
<style>
body {
    background-color: #d0e4fe;
}

h1 {
    color: #003399;
    text-align: center;
	
}

h2 {
    color: #ff99cc;
    text-align: center;
}

h3 {
    color: #595959;
    
}
p {
    display:inline;
	font-style:italic;
	position:relative;
    font-size: 16px;
	color: #800080;
}
button {
		border-radius: 16px;
		font-size: 15px;
		background-color: #ffccf2;}

</style>
</head>
<body>


  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Album zdjęć</title>
  <meta name="description" content="" /> 
 <!-- <link rel="stylesheet" href="style/kameleon.css" type="text/css" /> -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

</head>
<body>
<div class="external">
  <div id="logo">
    <h1><a href="./">Stwórz swój album zdjęć!</a></h1>
    
   
  </div>

  <div id="main">
     <div class="content">
      
      <p>Projekt w ramach przedmiotu: Wirtualizacja i przetwarzanie w chmurze<br></p>
	  <p>Przygotowały: Angelika Glibowska, Justyna Garbacz, Katarzyna Kaszycka - Grupa KrDUIs2011Si</p>
	  <h2>Program umożliwia wybranie zdjęć i przesłanie ich na wybrany adres e-mail</h2>
	  <br/>
	  <br/>
	  <br/>
	  
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>
<img src="http://data.whicdn.com/images/198612168/large.jpg" width="210"/>

	<br>
	<br>
	  <h3>Przeciągnij zdjęcia do poniższego obszaru!</h3>
	  
      <div class="dropzone" id="dropzoneForm">
			</div>
	  <form class="requestAlbumForm" action="{{url_for('request_album_creation')}}" method="POST">
			<input name="email" type="text" placeholder='Email'/>
				<button type="submit">Stwórz album</button>
			</form>
      <div class="hr"></div>
         
    </div>

  </div>
    
  <div class="clear"></div>
</div>
<div id="footer">
    
</div>
<script type="text/javascript">
   var createInput = function(count, path) {
       	 var input = '<input type="hidden" class="photo" name="photos___number__" value="__value__"/>"'
         input = input.replace('__number__', count);
         input = input.replace('__value__',  path);
         console.log(input)

       	 return	input;
       }
   $(".dropzone").dropzone({
     maxFiles: 2000,
     url: "{{ url_for('upload') }}",
     success: function(file, response){
       console.log(response);
       var photosCount = $('.requestAlbumForm input.photo').length;
       
       response.photos.forEach(function(photo){
        input = createInput(photosCount, photo)
        $('.requestAlbumForm').append($(input));
       });
       
     }
   });
  </script>
</body>
</html>
